.item {
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2), 0px 8px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

.item-header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.item-header .icon-heart {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.item .img-container {
  width: 80%;
}

.no-box-shadow {
  box-shadow: none;
}

.img-container img {
  width: 100%;
  height: auto;
}

.prod-title {
  text-align: center;
  cursor: pointer;
}

.prod-title:hover {
  color: coral;
}

.item .img-container:hover {
  width: 100%;
  transition: 0.4s;
}
