.wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.loader-container,
.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.img-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.product-details {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  border-radius: 16px;
  height: auto;
  margin-top: 10px;
  border: 4px solid hsl(0, 0%, 98%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2), 0px 6px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.btn-category {
  margin-bottom: 2em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2), 0px 6px 10px rgba(0, 0, 0, 0.2);
  align-self: flex-start;
  width: max-content;
  height: max-content;
  color: coral;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.btn-category:hover {
  background-color: coral;
  color: hsl(0, 0%, 98%);
  transition: 0.4s;
}

.product-desc {
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.product-price {
  align-self: flex-start;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}

.product-details h1 {
  margin-bottom: 20px;
}

.add-to-cart-section {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
}

.add-to-cart-inner-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}

.btn-add,
.btn-subtract {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
  color: coral;
  width: 20%;
  background-color: #efeff0;
  border-radius: 6px;
  cursor: pointer;
}

.btn-subtract,
.btn-add {
  border-left: 1px solid hsl(0, 0%, 98%);
}

.product-in-cart {
  width: 40%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  background-color: #efeff0;
  border-radius: 6px;
  padding: 20px;
}

.add-to-cart-btn {
  background-color: coral;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  box-sizing: border-box;
  color: hsl(0, 0%, 98%);
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .product-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .img-container {
    width: 80%;
    margin-bottom: 20px;
  }

  .product-details {
    width: 90%;
  }

  .add-to-cart-btn {
    font-size: 18px;
  }

  .btn-add,
  .btn-subtract {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .img-container {
    width: 100%;
  }

  .add-to-cart-section {
    flex-direction: column;
  }

  .add-to-cart-inner-section {
    width: 100%;
    margin-bottom: 1em;
  }

  .add-to-cart-btn {
    width: 100%;
    font-size: 20px;
  }

  .product-in-cart {
    width: 60%;
  }

  .btn-add,
  .btn-subtract {
    font-size: 32px;
  }
}
